
#homepage{
    /* width: 100%; */
    overflow: hidden;
    padding-top: 5%;
}
*{
    font-family: 'Lora', serif;
    
}

h1{
    color: tomato;
}

.navbar {
    background-color: #080818;
    color: white;
    border-radius: 0%;
    position: fixed;
    top: 0;
    width: 100%;
   
} 

img{
    
    border:1pt solid #f00;
  }
  

footer {
    background-color: #080818;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}