
#homepage{
    width: 100%; 
    overflow: hidden;
    padding-top: 3%;
}
.container{
    justify-content:space-around;
}
*{
    font-family: 'Lora', serif;
    
}

h1{
    color: tomato;
}

.navbar {
    background-color: #080818;
    color: white;
    border-radius: 0%;
    /* position: fixed; */
    top: 0;
    width: 100%;
   
} 

img{
    
    border:1pt solid #f00;
  }
  .img-responsive{
    height:200px;
    width: 300px;

  }
  

footer {
    background-color: #080818;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

@media only screen and (min-width: 500px) {

.container {
    width:100%;
    
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}

/* @media only screen and(max-width:60px){
    .container{
        width:100%
    }
} */