.introduction{
    padding-bottom: 30%;
}
*{
    font-family: 'Lora', serif;

}

.navbar {
    background-color: #080818;
    color: white;
    border-radius: 0%;
    
}

footer {
    background-color: #080818;
    box-sizing: border-box;
    color: white;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}