
{%extends 'base.html'%}
{% block content %}
{{block.super}}



<div id="homepage">
    <div id="overlay" class="row">

        <div class="introduction">
            <h1 class="text-center">Welcome to Image-Gallery</h1>
            <hr>
            <p id="about" class="text-center">You are now on my gallery page, have a look at some of the interesting images took from different places at different occassions</p>
        </div>
    </div>
</div>
<div>
    <footer class="page-footer">
            <div style=" font-size:12pt;">
                <div class="footer-copyright py-3" style="padding-left: 42%;">&#169;Copyright 2021: Benjamin Kipkorir
                </div>
            </div>
    </footer>
</div>

{%endblock%}